:host {
    width: 100%;

    ::ng-deep {
        .p-card-content {
            display: flex;
            flex-flow: column;
        }
    }
    .header {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .role {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .password {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        width: fit-content;
        align-self: flex-end;
    }
    .email {
        font-size: 12px;
        font-weight: 300;
        color: #666;
    }
    .stats {
        display: flex;
        flex-flow: row;
        gap: 16px;
        padding: 16px;
        background: #fff;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        // min-height: 302px;

        & > * {
            flex: 0 1 50%;
        }
    }
}